#box {
    height: 254px;
    width: 960PX;
    margin: 0 auto;
}

#box1 {
    width: 160PX;
    float: left;
    margin: 25px 80px;
}

#box .t1{
    color: aliceblue;
    text-align:center;
    margin: 0 auto;
}

#box .t2 {
    color: aliceblue;
    text-align:center;
    margin: 0 auto;
    font-size: 12px;
}



#box2 {
    width: 160PX;
    float: left;
    margin: 25px 80px;
}

#box3 {
    width: 160PX;
    float: left;
    margin: 25px 80px;;
}

#box_bg {
    background-color: black;
    width: 100%;
    height: 285px;
    margin: 0 auto;
}

.t3 {
    float: left;
    color: brown;
    padding: 0 3px;
}

#box a {
    text-decoration: none;
}
#box a:visited{
    color: brown;
}
